.item-detail__container {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin: 5%;
  min-height: 700px;
}


.item-image {
  display: flex;
  align-items: flex-start;
}

.variants-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.variants-container__header {
  width: 90%;
  margin-bottom: 5%;
}

.variants-title{
    margin-block-start: 0em;
}

.variants-description {
  font-weight: 100;
}

.variants-card__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 80%;
  height: 30%;
}
