.outer__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 95%;
  margin: 10px 4px 10px 4px;
  position: relative;
}

.card__title {
  font-weight: lighter;
}

.card__container {
  width: 93%;
  height: 80%;
  margin-left: 6%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card__header {
  display: flex;
  justify-content: flex-start;
  height: 20%;
}

.card__legend {
  margin-top: 10px;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item {
  font-weight: 100;
}

.items-list__select-btn-container{
  margin: 0 auto;
  display: flex;
}

/* Full overlay - Tier II */
.card__image{
   display: block;
   width: 100%;
   height: auto;
   border-radius: 10px;
}

.card__overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: .5s ease;
  border-radius: 10px;
}

.card:hover .card__overlay {
  opacity: 1;
}

.card:hover .card__image {
  opacity: 0.3;
}

@media only screen and (max-width: 587px) {
  .card {
    width: 95%;
  }
}

@media only screen and (max-width: 571px) {
  .outer__card__container {
    margin-bottom: -3%;
  }

  .card {
    width: 70%;
  }
}
